<script src="../assets/aggrid/ag-grid-enterprise.min.js"></script>
<h4>Example grid</h4>
<div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>


<script>


  agGrid.LicenseManager.setLicenseKey("DownloadDevTools_COM_NDEwMjM0NTgwMDAwMA==59158b5225400879a12a96634544f5b6");

  let gridApi;

  const gridOptions = {
    columnDefs: [
      // group cell renderer needed for expand / collapse icons
      { field: "categoryId", headerName: "Id. Categoría", cellRenderer: "agGroupCellRenderer", filter: true },
      { field: "categoryName", filter: true, headerName: "Nombre de la Categoría" },
    ],
    defaultColDef: {
      flex: 1,
    },
    masterDetail: true,
    detailCellRendererParams: {
      detailGridOptions: {
        columnDefs: [

          {
            field: 'productId', headerName: 'Id. del producto', headerName: "Id. Producto", filter: true,
            cellRenderer: function (params) {
              let keyData = params.data.productId;
              let newLink = `<a href=/api/product?productId=/${keyData}-getting-started target="_blank">${keyData}</a>`;
              return newLink;
            },
            flex: 1,
          },

          { field: "productName", headerName: "Nombre del Producto", filter: true },
          { field: "description", headerName: "Descripción", filter: true },
        ],
        defaultColDef: {
          flex: 1,
        },
        localeText: {
          searchOoo: "Search values...",
          noMatches: "No matches could be found.",
        },
      },
      getDetailRowData: (params) => {
        params.successCallback(params.data.products);
      },
    },
  };





  // setup the grid after the page has finished loading
  document.addEventListener("DOMContentLoaded", function () {
    var gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);

    fetch("/api/pivoted-history")
      .then((response) => response.json())
      .then((data) => {
        gridApi.setGridOption("rowData", data.categories);
      });
  });


</script>