<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M8 Solutions</title>
    <link rel="stylesheet" type="text/css" href="../misc/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../misc/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="../misc/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="../misc/css/iofrm-theme13.css">
</head>
<body>
    <div class="form-body" >
        <div class="website-logo">
            <a href="index.html">
               
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img class="logo-size" src="../misc/images/white_logo_transparent_background.png" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <form action="/login" method="post">
                            <input class="form-control" type="text" name="username" placeholder="Usuario / Email" required>
                            <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="btn btn-dark waves-effect waves-light">Iniciar sesión</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../assets/js/jquery.min.js"></script>

</body>
</html>